<!doctype html>
<html>
<head>
  <title>Madlibs!</title>
</head>
<body>
    <form action="/madlib">
    <p><label>Person: <input type="text" name="person"></label></p>
    <p><label>Color: <input type="text" name="color"></label></p>
    <p><label>Noun: <input type="text" name="noun"></label></p>
    <p><label>Adjective: <input type="text" name="adjective"></label></p>
    <p><label>Friend: <input type="text" name="friend"></label></p>
    <p><label>Verb: <input type="text" name="verb"></label></p>
    <p><label>Adjective 2: <input type="text" name="adjective2"></label></p>
    
    <p>Do you want to change the background color to pink?<br/>
   <!--<input type="checkbox" name="yes-check"> YES<br/>
    <input type="checkbox" name="no-check"> NO</p>-->
    <input type="checkbox" name="yes-check" onchange="changeBackground()"> YES, PLEASE<br/>
    

    <p><input type="submit" value="Submit"></p>

    </form>
</body>
</html>